.form{
    width: 250px;
    height: 323px;
    background-image: url("images/lock.png");
    position: relative;
    margin: 0 34%;
    /*$_POST['email']*/

}
.form2{
    float: left;
}
.form3{
    float: right;
}
.pic{
    width:20px;
    height:20px;
}
.email{
    margin: 174px 51px 0 52px;
}
.password{
    position: absolute;
    left: 50px;
    bottom: 97px;
}
.table{
    width: 280px;
    margin: 0 0%;
    padding: 20px;
    border:1px solid darkgrey;
}
.table1{
    width: 240px;
    margin: 0 0%;
    padding: 20px;
    border:1px solid darkgrey;
}
h4{
    text-align: center;
}
#btn{
    position: absolute;
    left: 0;
    bottom: 30px;
    background: transparent;
    font-size:14px;
    font-weight:700;
    margin-left: 100px;
}
#btn2{
    margin-left: 185px;
    /*width: 84px;*/
    /*height: 45px;*/
    background: transparent;
    /*border: none;*/
    color: black;
    font-size:14px;
    font-weight:700;
}
#btn3{
    margin-left: 85px;
}
.container {
    width: 50px;
    height: 50px;
    /*background-image: url(lock1.png);*/
}